body {
  margin: 0;
  font-family: Arial;
  background: #f1f5f9;
}

.container {
  text-align: center;
  margin-top: 100px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #3b82f6;
  margin: 20px auto;
  border-radius: 10px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  background: #111827;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #374151;
}